/*!************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/app.scss ***!
  \************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Ubuntu&display=swap);
/*!****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/app.scss (1) ***!
  \****************************************************************************************************************/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: #444444; }

li {
  list-style: none; }

.main {
  display: grid;
  grid-template-columns: 3fr 1fr; }

@media screen and (max-width: 860px) {
  .main {
    display: block;
    max-width: auto; } }

.planner-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  max-width: 100vw;
  margin: 0 24px; }

.table {
  min-width: 660px; }

.button {
  background-color: #49ad4b;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer; }
  .button:active {
    background-color: #336e34; }

.row {
  display: grid;
  position: relative;
  z-index: 1;
  border: 1px solid #cccccc;
  border-right-width: 0px;
  min-height: 80px;
  grid-template-columns: repeat(8, 1fr); }

.cell {
  display: flex;
  z-index: 1;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 0 2px;
  margin: 0 1px;
  min-width: 60px;
  color: white; }
  .cell-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .cell.hovered {
    opacity: 0.5;
    background-color: #497dad; }
  .cell.active {
    z-index: 1;
    background-color: #497dad; }
  .cell .tooltip {
    display: none;
    padding: 4px 8px;
    margin-bottom: 2px;
    background-color: #444444;
    max-width: 200px;
    min-width: 100%;
    text-align: center;
    color: #cccccc;
    border-radius: 5px; }
  .cell:hover .tooltip {
    display: inline;
    position: absolute;
    bottom: 100%;
    z-index: 40; }

.name-cell {
  text-align: center;
  background-color: #49ad4b; }
  .name-cell p {
    white-space: normal; }

.header-cell {
  background-color: white;
  color: #444444;
  margin: 0;
  padding: 8px 2px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc; }

.header-row {
  position: relative;
  min-height: 0; }

@media screen and (max-width: 660px) {
  .planner-wrapper {
    overflow: auto; }
  .planner-controls {
    margin: 0;
    padding: 16px 4px;
    position: sticky;
    top: 0;
    left: 0; }
  .cell:hover .tooltip {
    display: none; }
  .name-cell {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 30;
    margin-left: 0; }
  .row {
    border-right-width: 0;
    border-left-width: 0; } }

.backlog {
  background-color: #cccccc;
  padding: 0 8px;
  min-height: 100vh; }
  .backlog-header {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px 0; }
    .backlog-header h2 {
      font-size: 32px;
      text-align: center; }
  .backlog-item {
    padding: 8px;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 8px;
    cursor: pointer; }
    .backlog-item-title {
      font-size: 20px;
      color: #497dad; }

.hold {
  border: solid #000 4px; }

.invisible {
  visibility: hidden; }

@media screen and (max-width: 860px) {
  .backlog {
    display: none; } }

