@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

$success: #49ad4b;
$darkSuccess: #336e34;
$gray: #cccccc;
$darkGray: #444444;
$lightGray: #f1f1f1;
$info: #497dad;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: $darkGray;
}

li {
  list-style: none;
}

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

@media screen and (max-width: 660px) {
  .main {
    display: block;
    max-width: auto;
  }
}

@import "planner";
@import "backlog";
